NEXT_PUBLIC_SITE_URL=https://blog.theredditrepreneur.com
NEXT_PUBLIC_MAIN_SITE_URL=https://www.theredditrepreneur.com
NEXT_PUBLIC_APP_URL=https://app.theredditrepreneur.com
NEXT_PUBLIC_RESEARCH_URL=https://research.theredditrepreneur.com
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=development
NEXT_PUBLIC_SANITY_API_VERSION=2026-07-12
SANITY_API_READ_TOKEN=
SANITY_API_WRITE_TOKEN=
SANITY_PREVIEW_SECRET=
NEWSLETTER_PROVIDER=substack
NEXT_PUBLIC_NEWSLETTER_URL=https://theredditrepreneur.substack.com/
NEXT_PUBLIC_POSTHOG_ENABLED=false
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
CONTACT_EMAIL=theredditrepreneur@gmail.com
